<div class="title-about center mt-lg">
    <div class="container">
        <h1 class="white">{{title}}</h1>
        <h2 class="white">{{subtitle}}</h2>
        <p class="white">{{email}}</p>
    </div>
</div>

<article class="about mt-lg">
    <div class="container">

        <h2>Sobre mí</h2>
        <hr class="aca">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad facilis itaque eligendi magnam minus? Sapiente vitae ratione impedit, dolorem possimus qui corporis ipsum inventore doloremque magni. Sunt numquam sapiente animi?
            Natus doloremque corrupti voluptate aliquid quae laborum ipsam facilis, facere impedit officiis ducimus inventore nam alias, quidem quasi architecto, saepe tenetur. Nulla consequuntur dolorem laboriosam excepturi animi architecto eaque itaque.
            Eveniet iure qui error officia dolorem quam, neque cum odit, voluptatum velit sequi sit exercitationem dignissimos fugiat autem vel hic illum numquam? Adipisci assumenda ullam nisi non possimus consequatur architecto.
            Accusamus quidem, voluptatum quis accusantium asperiores incidunt ad. Facere rerum reiciendis, distinctio, ipsam consectetur amet tenetur repellat sapiente aliquid ullam excepturi molestias non cumque voluptates dolorum dignissimos saepe illo beatae?
            Eveniet illo officiis, error magnam adipisci fuga? Saepe qui doloremque dignissimos quaerat cum consectetur fugiat reiciendis distinctio accusantium necessitatibus recusandae, nisi labore corrupti dolorum voluptas inventore consequuntur sint. Delectus, odit?</p>
        </div>
</article>